NET "xclk" LOC="P55";
NET "rst" LOC="P67" | PULLUP;

NET "xrgb<5>" LOC="P137" | IOSTANDARD=LVCMOS33;
NET "xrgb<4>" LOC="P138" | IOSTANDARD=LVCMOS33;
NET "xrgb<3>" LOC="P139" | IOSTANDARD=LVCMOS33;
NET "xrgb<2>" LOC="P140" | IOSTANDARD=LVCMOS33;
NET "xrgb<1>" LOC="P141" | IOSTANDARD=LVCMOS33;
NET "xrgb<0>" LOC="P142" | IOSTANDARD=LVCMOS33;
NET "xvs" 	  LOC="P134" | IOSTANDARD=LVCMOS33;
NET "xhs"	  LOC="P133" | IOSTANDARD=LVCMOS33;
 
NET "xclk" TNM_NET = xclk;
TIMESPEC TS_xclk = PERIOD "xclk" 50 MHz HIGH 50%;